# Virtual Environment
venv/
.venv/
env/
.env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Local configuration
.vscode/
.idea/
.streamlit/secrets.toml

# Datasets and Training Outputs (Unnecessary for inference)
data/
results/
models/

# Application Specific (Generated during run)
temp_meeting_audio*
temp_audio.file
meeting_summary.pdf

# OS Specific
.DS_Store
Thumbs.db
